/* Box Model */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style-type: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  -webkit-text-size-adjust: none; }

button {
  cursor: pointer; }

textarea {
  resize: none; }

textarea:focus {
  outline: 0; }

/* Mixin */
.clearfix {
  display: table;
  content: '';
  clear: both; }

/* Main styles */
body {
  font-family: 'Open Sans', sans-serif;
  min-width: 320px;
  font-size: 13px;
  line-height: 1.154;
  font-weight: 400;
  color: #363b43; }

/* Main */
.portfolio__profile-info {
  position: fixed;
  top: 0;
  left: 0;
  width: 320px;
  height: 100%;
  background-color: #363b43;
  padding: 40px 25px 15px 25px; }
  .portfolio__profile-info figure {
    margin-bottom: 30px; }
  .portfolio__profile-info h1 {
    color: #62c3f5;
    font-size: 24px; }
  .portfolio__profile-info h2 {
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 10px; }

.portfolio__profile-img-wrapper {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  background-color: #ffffff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  overflow: hidden; }
  .portfolio__profile-img-wrapper img {
    width: 100%; }

.portfolio__profile-name {
  padding-top: 0;
  padding-bottom: 30px; }
  .portfolio__profile-name p {
    margin-top: 10px;
    color: #ffffff;
    font-size: 18px; }

.portfolio__profile-contacts-wrapper {
  padding: 30px 0 25px; }

.grey-line {
  width: 106%;
  position: relative;
  left: -8px;
  margin-bottom: 15px;
  height: 2px;
  background-color: #43474f; }

.portfolio__profile-main-contacts img, .portfolio__profile-main-contacts span {
  display: inline-block;
  vertical-align: middle; }

.portfolio__profile-main-contacts span {
  margin-left: 7px;
  padding: 10px 5px;
  color: #ffffff;
  font-weight: 300;
  font-size: 16px; }
  .portfolio__profile-main-contacts span a {
    color: inherit;
    text-decoration: none; }
  .portfolio__profile-main-contacts span a:hover {
    text-decoration: underline; }

.portfolio__profile-social-links {
  margin: 23px 0; }
  .portfolio__profile-social-links li:first-child {
    margin-left: 0; }
  .portfolio__profile-social-links li {
    margin: 0 4px;
    display: inline-block;
    vertical-align: top; }

.portfolio__profile-know-languges p {
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
  padding: 10px 0; }

.main-section {
  padding: 0px 15px 0 350px; }
  .main-section h2 {
    font-size: 21px;
    font-weight: 600;
    text-transform: uppercase; }

.portfolio__skills {
  padding-top: 30px; }

.bottom-shadow {
  position: relative;
  padding: 10px 0;
  -webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1); }

.language-toggle {
  position: absolute;
  top: 15px;
  right: 15px; }
  .language-toggle span {
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase; }
  .language-toggle span:last-child {
    margin-left: 13px; }
  .language-toggle span.active {
    color: #70b8dd; }
  .language-toggle span:hover {
    text-decoration: underline; }

.profile__skills-wrapper {
  margin: 15px 0 25px;
  position: relative; }

.ellipse-wrapper {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: center; }
  .ellipse-wrapper p {
    text-transform: uppercase;
    font-size: 18px; }

.skill {
  position: relative;
  z-index: 1;
  margin: 20px 5px;
  width: 157px;
  height: 157px;
  background-repeat: no-repeat; }

.html-skill {
  background: url("../images/ellipses.png") no-repeat -160px -1px; }

.css-skill {
  background: url("../images/ellipses.png") no-repeat -1px -1px; }

.js-skill {
  background: url("../images/ellipses.png") no-repeat -160px -160px; }

.sass-less-skill {
  background: url("../images/ellipses.png") no-repeat -319px -160px; }

.jquery-skill {
  background: url("../images/ellipses.png") no-repeat -1px -160px; }

.photoshop-skill {
  background: url("../images/ellipses.png") no-repeat -319px -1px; }

.skill__ellipse-white {
  width: 121px;
  height: 121px;
  position: absolute;
  z-index: 2;
  top: 40px;
  left: 23px;
  background-repeat: no-repeat;
  background: url("../images/ellipses.png") no-repeat -1px -319px; }

.experince__wrapper {
  margin: 10px 0; }
  .experince__wrapper p {
    font-size: 16px;
    padding: 5px 0;
    line-height: 1.48; }
    .experince__wrapper p b {
      font-size: 18px;
      font-weight: 600; }
