.portfolio__profile-info {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 320px;
  height: 100%;
  background-color: #363b43;
  padding: 40px 5px 15px 25px;

  figure {
    margin-bottom: 30px;
  }

  h1 {
    color: #62c3f5;
    font-size: 24px;
  }

  h2 {
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 10px;
  }

  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: hsl(0, 1%, 41%);
  }
}

.portfolio__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 35px;
  height: 35px;

  div {
    width: 29px;
    height: 3px;
    background-color: #ffffff;
    margin: 6px auto;
  }

  div:first-child.active,
  div:nth-child(2).active {
    position: absolute;
    margin: 0;
  }

  div:first-child.active {
    transform: rotate(-225deg);
    top: 16px;
    left: 5px;
  }

  div:nth-child(2).active {
    transform: rotate(225deg);
    top: 16px;
    left: 5px;
  }
}

.portfolio__profile-img-wrapper {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  background-color: #000000;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
  }
}




.portfolio__profile-name {
  padding-top: 0;
  padding-bottom: 30px;

  p {
    margin-top: 10px;
    color: #ffffff;
    font-size: 18px;
  }
}


.portfolio__profile-contacts-wrapper {
  padding: 30px 0 25px;
}


.grey-line {
  width: 100%;
  position: relative;
  left: -8px;
  margin-bottom: 15px;
  height: 2px;
  background-color: #43474f;
}


.portfolio__profile-main-contacts {

  img, span {
    display: inline-block;
    vertical-align: middle;
  }

  span {
    margin-left: 7px;
    padding: 10px 5px;
    color: #ffffff;
    font-weight: 300;
    font-size: 16px;

    a {
      color: inherit;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}


.portfolio__profile-social-links {
  margin: 23px 0;

  li:first-child {
    margin-left: 0;
  }

  li {
    margin: 0 4px;
    display: inline-block;
    vertical-align: top;

    a {

      img:hover {
        transform: scale(1.06);
      }
    }
  }
}

.portfolio__profile-social-links__hidden {
  display: none;
}


.portfolio__profile-know-languges {

  p {
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
    padding: 10px 0;
  }
}


.portfolio__profile-know-languges,
.portfolio__profile-contacts-wrapper {

  h2 {
    font-weight: 500;
  }
}