.experince__wrapper {
  margin: 10px 0;

  p {
    font-size: 16px;
    padding: 5px 0;
    line-height: 1.48;

    b {
      font-size: 18px;
      font-weight: 600;

      a {
        color: inherit;
      }
    }
  }
}