@media screen and ( max-width: 1500px ) {

  .portfolio__profile {
    
    &-info {
      padding: 20px 5px 15px 25px;
    }

    &-name {
      padding-bottom: 0;
    }

    &-contacts-wrapper {
      padding: 30px 0 15px;
    }

    &-social-links {
      margin: 10px 0 20px;
    }

    &-info h2 {
      margin-bottom: 5px;
    }
  }

  .grey-line {
    margin-bottom: 0;
  }
}

@media screen and ( max-width: 1420px ) {

  .ellipse-wrapper {
    margin: 0 20px;
  }
}

@media screen and ( max-width: 1370px ) {

  .work-preview {
    width: 47%;
  }

  .skill {
    margin: 20px 0;
  }

  .skill__ellipse-white {
    left: 18px;
  }

  p.skill__percentage-wrap {
    left: 58px;
  }

  .work-preview {
    -webkit-box-shadow: 1px 1px 12px 1px rgba(0,0,0,.3);
    -moz-box-shadow: 1px 1px 12px 1px rgba(0,0,0,.3);
    box-shadow: 1px 1px 12px 1px rgba(0,0,0,.3);
  }
}

@media screen and ( max-width: 1000px ) {

  .ellipse-wrapper {
    margin: 0 5px;
  }
}

@media screen and ( max-width: 900px ) {

  .portfolio__profile-info {
    width: 100%;
    position: relative;

    .grey-line {
      display: none;
    }
  }

  .main-section {
    padding: 0 15px;
  }

  .portfolio__profile-name {
    text-align: center;
  }

  .portfolio__profile-contacts-wrapper,
  .portfolio__profile-know-languges {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    padding: 25px 0 5px;
    text-align: center;
    margin-top: 20px;

    h2 {
      margin: 0 auto 20px;
    }

    ul, p, h2 {
      width: 215px;
      display: inline-block;
      vertical-align: top;
      text-align: left;
    }
  }

  ul.portfolio__profile-social-links {
    display: none;
  }

  .portfolio__profile-social-links__hidden {
    display: block;
    text-align: center;

    .portfolio__profile-social-links {
      display: inherit;
    }
  }

  .work-preview {
    width: 47%;
    margin: 2% 1%;
  }

  .ellipse-wrapper {
    margin: 0 15px;
  }
}

@media screen and ( max-width: 725px ) {
  
  .work-preview {
    width: 400px;
    margin: 3% 1%;
  } 
}

@media screen and ( max-width: 630px ) {

  .ellipse-wrapper {
    margin: 0 5px;
  }
}

@media screen and ( max-width: 530px ) {

  .portfolio__profile-img-wrapper {
    width: 100px;
    height: 100px;
  }

  .portfolio__profile-contacts-wrapper,
  .portfolio__profile-know-languges {
    width: 100%;

    ul, p, h2 {
      display: block;
      margin: 0 auto;
      text-align: left;
    }

    h2 {
      margin-bottom: 15px;
      text-align: center;
    }
  }

  .portfolio__profile-know-languges {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  ul.portfolio__profile-social-links {
    display: none;
  }

  .work-preview {
    height: auto;
  }

  .work-preview:first-of-type {
    margin-top: 0;
  }
}

@media screen and ( max-width: 470px ) {

  .work-preview {
    width: 98%;
    margin: 4% 1%;
  }
}