.experince__wrapper {
  margin: 10px 0;

  p {
    font-size: 16px;
  }

  div {
    padding: 5px 0;
    line-height: 1.48;

    b {
      font-weight: 600;

      a {
        color: inherit;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.experince__company-name {
  font-size: 22px;
}

.expirience_time {
  font-size: 13px;
  font-style: italic;
  margin-bottom: 5px;
}